* {
	margin:0;
	padding:0;
}
html {
	height:100%;
}
body {
	align:center;
	float:center;
	width : 100%;
	height : 100%;
	color : #333;
	background :white;
	font-size : 1em;
	font-family : "Segoe UI", sans-serif;
}
a {
	color:#333;
	text-decoration: none;
}
#zagalovok {
	min-width:1350px;
	height:100px;
}
#lozyng {
	text-align:center;
	height:30px;
	float:left;
	display: flex;
	align-items: center;
	justify-content: center;
	width:100%;
}
#search {
	float:left;
	border-radius:6px;
	height:50px;
	width:845px;
	background:#e6e6e6;
	position:relative;
	left:4%;
}
#poisk {
	background:#e6e6e6;
	margin:5px;
	position:relative;
	font-size:0.9em;
	border:none;
	outline:none;
	height:80%;
	width:500px;
	padding-left:5px;
}
#done {
	cursor:pointer;
	outline:none;
	font-size:0.9em;
	color:white;
	border-radius:6px;
	border:none;
	background:#00a2e7;
	margin:5px;
	height:80%;
	width:110px;
}
input[type=text]::-ms-clear {  
	display: none; 
	width : 0; 
	height: 0; 
}
input[type=text]::-ms-reveal {
	display: none; 
	width : 0; 
	height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none; 
}
form>div {
	color:#333;
cursor:pointer;
	outline:none;
	font-size:1.2em;
	color:white;
	border-radius:6px;
	border:none;
	background:#d1d1d1;
	margin:5px;
	height:80%;
	width:200px;
	float:right;
}
form>div>span {
	left:6px;
	position:relative;
	bottom:15px;
}
form>div>img {
	width:40px;
}
#world_problems {
	top:3%;
	text-align:center;
	margin:auto;
	float:left;
	min-height:50px;
	width:90%;
	position:relative;
    left: 50%;
    transform: translate(-50%, -50%);
}
.problem {
	margin:0 30px;
	color:#ccc;
}
.problem:hover {
	text-decoration:underline;
}
.center {
	max-width:1900px;
	min-width:1300px;
	margin:auto;
}
.body {

	border-radius:3px;
	color:#333;
	margin-top:10px;
	padding:2px;
	min-width:1300px;
	background:#e1e1e1;
}
.body>div {
	text-align:center;
	min-width:5%;
	word-wrap:break-word;
	padding:10px;
	font-size:1.1em;
	display:inline-table;
	position:relative;
	border-right:1px solid silver;
}